
header {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        color: $color-principal;
    }

    nav {
        background-color: beige;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                color:green;
                font-weight: bold;
                text-transform: uppercase;
                font-size: $tam-fuente - 1rem;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}